html,
head,
body {
  margin: 0;
  padding: 0;
}

body {
  --background-color: white;
  --overlay-background: var(--background-color);
  --text-color: black;
  --text-color-disabled: #444;
  --text-color-placeholder: #888;
  --border-color: #ccc;
  --border-color-disabled: #888;
  --border-color-pressed: purple;
  --highlight-background: purple;
  --highlight-foreground: white;
  --button-background: var(--background-color);
  --button-background-pressed: var(--button-background);
  --focus-ring-color: purple;

  background-color: var(--background-color);
}
@media (prefers-color-scheme: dark) {
  body {
    --background-color: black;
    --text-color: white;
    --text-color-disabled: #ccc;
    --border-color: #888;
    --button-background: #222;
  }
}

/* TODO: CONVERT THIS STUFF */

.panel {
  z-index: 10;
  display: flex;
  flex-direction: column;
  row-gap: 2px;
  border: 2px solid var(--border-color);
  background-color: var(--background-color);
  color: var(--text-color);
  padding: 4px;
}

.hexagon .terrain {
  stroke: #666;
  stroke-width: 0.5px;
}
.hexagon .terrain:hover {
  filter: brightness(1.2);
}

@keyframes opacityPulse {
  from {
    opacity: 0.25;
  }
  to {
    opacity: 0.5;
  }
}
.hexagon .can-attack {
  fill: #f88;
  animation-name: opacityPulse;
  animation-duration: 2s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  cursor: crosshair;
}
.hexagon .can-move {
  fill: #ff8;
  animation-name: opacityPulse;
  animation-duration: 2s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  cursor: move;
}

.beach .terrain {
  fill: #fff899;
}
.deepsea .terrain {
  fill: #6699cc;
}
.forest .terrain {
  fill: #4f9e44;
}
.grass .terrain {
  fill: #9fd66b;
}
.grassland .terrain {
  fill: #e5f29b;
}
.hill .terrain {
  fill: #e8ce59;
}
.lake .terrain {
  fill: #99ccff;
}
.marsh .terrain {
  fill: #84ce93;
}
.mountain .terrain {
  fill: #c68e00;
}
.sea .terrain {
  fill: #8cb2d8;
}
.swamp .terrain {
  fill: #addda5;
}
.wood .terrain {
  fill: #7ab244;
}

.border {
  stroke: red;
  pointer-events: none;
}
.border polyline {
  fill: transparent;
}

#lines {
  pointer-events: none;

  .water {
    stroke: #8cb2d8;
    stroke-linecap: round;
  }
}

.coord {
  font-family: "Courier New", Courier, monospace;
  font-size: 3px;
  pointer-events: none;
  user-select: none;
}

.location {
  font-size: 5px;
  font-weight: bold;
  stroke: white;
  paint-order: stroke;
  pointer-events: none;
  user-select: none;
}
.location polygon {
  fill: transparent;
  stroke: #aaa;
  stroke-width: 2px;
  stroke-dasharray: 2 1;
}
.stronghold polygon {
  stroke: #aaa;
  stroke-width: 3px;
}

.unit {
  filter: drop-shadow(0 0 2px black);
  transition: transform 0.2s;
}
.unit.selected {
  filter: brightness(1.2) drop-shadow(0 0 6px black);
}

.unit circle {
  stroke: white;
  cursor: pointer;
}
.unit text {
  font-size: 5px;
  font-weight: bold;
  stroke: white;
  paint-order: stroke;
  pointer-events: none;
  user-select: none;
}

.unit.side-1 circle {
  fill: green;
}
.unit.side-1 text {
  fill: #020;
  stroke: #dfd;
}

.unit.side-2 circle {
  fill: red;
}
.unit.side-2 text {
  fill: #200;
  stroke: #fdd;
}

.unit.in-liege circle {
  stroke: gold;
}
.unit.can-attack circle {
  cursor: crosshair;
}

.unit-view > .name {
  font-size: 1.1em;
  font-weight: bold;
}

.level-1 {
  font-size: 0.8em;
}
.level-2 {
  font-size: 0.7em;
}
.level-3 {
  font-size: 0.6em;
}

.ratings .value {
  text-align: center;
}
